<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.anyitou"
    android:versionCode="1"
    android:versionName="V1.0.0" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <supports-screens android:anyDensity="true" />

    <application
        android:name="cn.com.anyitou.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cn.com.anyitou.ui.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.com.anyitou.ui.WelcomeViewPageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 首页 -->
        <activity 
            android:name="cn.com.anyitou.ui.HomeActivity"
            android:screenOrientation="portrait"
             android:launchMode="singleTask"
            ></activity>
        
        <!-- 手势密码 -->
        <activity
            android:name="cn.com.anyitou.ui.GestureLockActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 首页 -->
        <activity
            android:name="cn.com.anyitou.ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 项目详情 -->
        <activity
            android:name="cn.com.anyitou.ui.InVestmentDetailActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 登录 -->
        <activity
            android:name="cn.com.anyitou.ui.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 注册 -->
        <activity
            android:name="cn.com.anyitou.ui.RegisteredActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 注册帐号 -->
        <activity
            android:name="cn.com.anyitou.ui.RegisteredAccountActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 注册帐号 确认密码 -->
        <activity
            android:name="cn.com.anyitou.ui.RegisteredAccount2Activity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 手机验证 -->
        <activity
            android:name="cn.com.anyitou.ui.MobilePhoneVerificationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 手机验证2 -->
        <activity
            android:name="cn.com.anyitou.ui.MobilePhoneVerificationActivity2"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 注册结果 -->
       <!--  <activity
            android:name="cn.com.anyitou.ui.RegistereResultActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity> -->
        <!-- 设置 -->
        <!-- <activity
            android:name="cn.com.anyitou.ui.SetUpActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity> -->
        
        <!-- 修改登录密码 -->
        <activity
            android:name="cn.com.anyitou.ui.ModifyLoginPassWordActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 修改登录密码2 -->
        <activity
            android:name="cn.com.anyitou.ui.ModifyLoginPassWordActivity2"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 跳转url -->
        <activity
            android:name="cn.com.anyitou.ui.WebActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 客户服务 -->
        <activity
            android:name="cn.com.anyitou.ui.CustomerServiceActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 修改手势密码Dialog -->
        <activity
            android:name="cn.com.anyitou.ui.ModifyGestureDialog"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" >
        </activity>

        <!-- 找回密码 -->
        <activity
            android:name="cn.com.anyitou.ui.BackLoginPassWordActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 意见反馈 -->
        <activity
            android:name="cn.com.anyitou.ui.FeedBackActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 协议内容 -->
        <activity
            android:name="cn.com.anyitou.ui.AgreementActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 找回密码，验证手机验证码 -->
        <activity
            android:name="cn.com.anyitou.ui.BackLoginPWVCodeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 找回密码，输入新密码 -->
        <activity
            android:name="cn.com.anyitou.ui.InputNewPasswordActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>


        <!-- 提现 -->
        <activity
            android:name="cn.com.anyitou.ui.WithdrawalsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 修改手势密码Dialog -->
        <activity
            android:name="cn.com.anyitou.ui.WithdrawalsDialogActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!-- 充值 -->
        <activity
            android:name="cn.com.anyitou.ui.RechargeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>


        <!-- 确认充值 -->
        <activity
            android:name="cn.com.anyitou.ui.ConfirmRechargeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 我的银行卡 -->
        <activity
            android:name="cn.com.anyitou.ui.MyBankCardActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 回款计划 -->
       <!--  <activity
            android:name="cn.com.anyitou.ui.PaymentPlanActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity> -->

        <!-- 交易记录 -->
        <activity
            android:name="cn.com.anyitou.ui.TradingRecordActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- 投资明细记录 -->
        <activity
            android:name="cn.com.anyitou.ui.InvestRecordActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- 投资详情 -->
        <activity
            android:name="cn.com.anyitou.ui.InvestmentRecordDetailActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 我的投资 -->
        <activity
            android:name="cn.com.anyitou.ui.MyInvestmentActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 确认投资信息 -->
        <activity
            android:name="cn.com.anyitou.ui.InvestConfirmActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
         <!-- 确认债权信息 -->
        <activity
            android:name="cn.com.anyitou.ui.DebtTransferConfirmActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        
         <!-- 发起债权转让 -->
        <activity
            android:name="cn.com.anyitou.ui.PublishDebtTransferActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        
          <!-- 确认债权转让 -->
        <activity
            android:name="cn.com.anyitou.ui.ConfirmPublishDebtTransferActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- 我的优惠券 -->
        <activity
            android:name="cn.com.anyitou.ui.fragment.MyCouponFragment"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 我的债权转让 -->
        <activity
            android:name="cn.com.anyitou.ui.fragment.DebtTransferFragment"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 会员特权 -->
        <activity
            android:name="cn.com.anyitou.ui.MemberPrivilegeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 成功 -->
        <activity
            android:name="cn.com.anyitou.ui.SuccessActivity"
            android:label="@string/app_name"
            android:theme="@style/Transparent"
            android:screenOrientation="portrait" >
        </activity>
         <!-- 我的安币 -->
        <activity
            android:name="cn.com.anyitou.ui.MyAnbiActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 安币兑换 -->
        <activity
            android:name="cn.com.anyitou.ui.IntegralGoodActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
         <!-- 我的级别 -->
        <activity
            android:name="cn.com.anyitou.ui.MyLevelActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
         <!-- 成长值记录 -->
        <activity
            android:name="cn.com.anyitou.ui.GrowthRecordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
         <!-- 安币变更记录 -->
        <activity
            android:name="cn.com.anyitou.ui.IntegralRecordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- 会员等级变更记录 -->
        <activity
            android:name="cn.com.anyitou.ui.MemberChangeRecordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <service android:name="cn.com.anyitou.service.AnyitouService"></service>

        <!-- 微信分享需要注册该activity -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent" >
        </activity>

        <!-- qq回调需要注册该activity -->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- qq授权需要注册该activity -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 把 1101255276改成自己的腾讯开放平台的appid -->
                <data android:scheme="tencent1104534462" />
            </intent-filter>
        </activity>

        <!-- 新浪微博界面 -->
        <activity
            android:name="cn.bidaround.ytcore.activity.SinaShareActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >

            <!-- 新浪微博分享回调需要设置 -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 应用授权 activity -->
        <activity
            android:name="cn.bidaround.ytcore.login.AuthActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- umeng 升级 end -->

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!-- umeng 升级 end -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55d14184e0f55a62a50079f1" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="umeng" />
    </application>

</manifest>